---
// Define props from Astro
const { title, subTitle } = Astro.props;

// Define TypeScript interface for props
interface Props {
  title: string;
  subTitle?: string;
}
import { Image } from 'astro:assets';
---

<section
  class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
>
  <!-- Title and description -->
  <div class="mx-auto mb-6 w-full space-y-1 text-center sm:w-1/2 lg:w-1/2">
    <h2
      class="text-balance text-2xl font-bold leading-tight text-neutral-800 dark:text-neutral-200 sm:text-3xl"
    >
      {title}
    </h2>
    {
      subTitle && (
        <p class="text-pretty leading-tight text-neutral-600 dark:text-neutral-400">
          {subTitle}
        </p>
      )
    }
  </div>
  <div
    class="flex flex-col items-center justify-center gap-y-2 sm:flex-row sm:gap-x-12 sm:gap-y-0 lg:gap-x-24"
  >
    <!-- Clients Group SVGs -->
    <!-- First -->
    <Image src="/src/images/homepage/turbine.png" alt="Turbine" width="140" height="50" />

    <!-- Second -->
    <Image src="/src/images/homepage/nagarro.png" alt="Nagarro" width="140" height="50" />
    <!-- Third -->
    <svg
      class="mx-auto h-auto w-32 py-3 sm:mx-0 lg:w-40 lg:py-5"
      viewBox="0 0 700 200"
      fill="none"
    >
    <path fill="#6B7280" d="M522,66.473c-18.296,0.069-36.592,0.139-54.889,0.206c-1.962,0.007-3.924,0.001-5.809,0.001
		c-1.643,8.055,3.913,17.646,11.713,20.709c8.419,3.306,17.576,0.587,22.257-6.459c0.638-0.96,1.956-2.054,2.985-2.08
		c7.132-0.181,14.272-0.095,22.105-0.095c-3.844,12.625-11.137,21.447-23.038,25.796c-13.024,4.759-26.126,3.845-38.789-1.59
		c-9.042-3.882-14.915-10.981-18.079-20.138c-4.424-12.804-5.217-25.946-1.745-39.054c4.304-16.249,14.842-26.481,31.665-28.938
		c27.439-4.007,45.139,7.159,49.864,34.562c0.464,2.69,0.621,5.431,0.98,8.14c0.194,1.467,0.515,2.918,0.779,4.376
		C522,63.429,522,64.951,522,66.473z M461.658,51.514c11.777,0,23.551,0,35.325,0c-0.155-11.333-7.777-19.06-18.232-18.826
		C469.108,32.903,461.475,41.28,461.658,51.514z"/>
	<path fill="#6B7280" d="M522,134.038c-23.796-0.076-47.593-0.154-71.389-0.226c-4.097-0.012-8.193-0.002-12.68-0.002
		c0-5.112,0-9.861,0-15.294c28.038,0,56.054,0,84.069,0C522,123.69,522,128.864,522,134.038z"/>
	<path fill="#6B7280" d="M110.848,181.455c0-4.305,0-8.351,0-12.372c-0.742-0.059-1.173-0.212-1.286-0.085
		c-14.509,16.348-34.289,20.7-54.074,11.814c-14.815-6.654-23.72-18.564-28.082-33.609c-6.937-23.926-6.866-47.756,6.551-69.631
		c16.324-26.616,52.846-29.213,73.554-5.891c0.5,0.563,1.017,1.109,2.18,2.373c0-20.084,0-39.401,0-59.096
		c10.981,0,21.398,0,32.184,0c0,55.442,0,110.835,0,166.497C131.561,181.455,121.435,181.455,110.848,181.455z M111.145,121.984
		C111.557,121.893,110.733,122.074,111.145,121.984c-0.193-10.908-1.693-16.393-4.461-23.982
		c-3.24-8.884-10.593-13.505-20.144-14.072c-10.071-0.598-19.45,1.752-24.266,11.235c-8.489,16.712-9.169,34.216,0.381,50.644
		c10.233,17.604,32.818,16.943,43.302-0.562C110.256,138.067,111.454,130.192,111.145,121.984z"/>
	<path fill="#6B7280" d="M422.476,181.726c-9.063,0-18.061,0.099-27.052-0.123c-1.147-0.028-2.774-1.524-3.262-2.713
		c-0.844-2.059-0.969-4.41-1.513-7.251c-6.757,6.164-14.252,10.25-22.929,11.996c-9.704,1.953-19.419,1.997-29.075-0.113
		c-17.11-3.738-26.848-16.631-25.924-34.06c1.169-22.049,11.114-33.5,33.435-37.997c9.412-1.897,18.946-3.186,28.403-4.872
		c2.689-0.479,5.35-1.239,7.94-2.118c4.495-1.525,6.96-4.76,7.33-9.499c0.353-4.528-1.359-8.205-5.372-10.291
		c-9.205-4.783-18.817-5.211-28.174-0.785c-6.007,2.842-7.771,9.038-9.424,15.179c-9.882,0-19.713,0-29.5,0
		c-2.361-14.486,6.716-31.13,21.272-37.111c20.276-8.331,41.144-8.49,61.597-0.722c15.815,6.007,22.051,19.6,22.503,35.168
		c0.812,27.961,0.316,55.959,0.35,83.942C423.082,180.624,422.855,180.89,422.476,181.726z M390.586,123.164
		c-4.128,1.427-7.501,2.78-10.982,3.745c-3.656,1.013-7.486,1.422-11.113,2.514c-5.5,1.656-11.156,3.144-16.255,5.682
		c-5.673,2.824-7.894,9.388-6.648,16.12c1.012,5.464,4.304,8.813,9.856,10.028c12.227,2.674,25.687-3.551,31.899-14.503
		C391.59,139.265,389.933,131.193,390.586,123.164z"/>
	<path fill="#6B7280" d="M196.649,59.325c11.494,0,22.478-0.138,33.449,0.183c1.309,0.038,3.19,2.371,3.715,3.992
		c7.544,23.295,14.899,46.652,22.305,69.991c0.503,1.584,1.051,3.152,1.994,5.968c0.886-2.493,1.444-3.938,1.917-5.411
		c7.539-23.458,15.146-46.894,22.511-70.406c1.058-3.378,2.532-4.496,6.047-4.406c9.598,0.245,19.207,0.084,29.591,0.084
		c-0.599,1.965-0.991,3.487-1.522,4.958c-13.636,37.771-27.319,75.524-40.871,113.325c-1.072,2.992-2.327,4.329-5.759,4.22
		c-8.844-0.281-17.707,0.034-26.553-0.218c-1.495-0.043-3.821-1.402-4.287-2.686C225.006,139.893,211.009,100.799,197,61.71
		C196.807,61.17,196.823,60.555,196.649,59.325z"/>
	<path fill="#6B7280" d="M156.101,59.451c10.861,0,21.208,0,31.959,0c0,40.592,0,81.056,0,121.9c-10.509,0-21.07,0-31.959,0
		C156.101,140.842,156.101,100.367,156.101,59.451z"/>
	<path fill="#6B7280" d="M156.031,44.491c0-9.924,0-19.566,0-29.563c10.674,0,21.226,0,32.108,0c0,9.809,0,19.561,0,29.563
		C177.397,44.491,166.84,44.491,156.031,44.491z"/>    </svg>
    <!-- Fourth -->
    <Image src="/src/images/homepage/valantic.png" alt="valantic" width="140" height="50" />

  </div>
</section>
