/* Dark mode colors. */
:root {
    --backdrop-color: #00070dcc;
    --sl-color-accent: #00AEEF;
    --sl-color-accent-high: #78d0f0;
    --sl-color-accent-low: #0083b3;
    --sl-color-black: #011427;
    --sl-color-gray-1: #f9fafb;
    --sl-color-gray-2: #d1d5db;
    --sl-color-gray-3: #6b7280;
    --sl-color-gray-4: #374151;
    --sl-color-gray-5: #011427;
    --sl-color-gray-6: #00070d;
    --sl-color-white: #fff;
    --list-marker-color: #EC008C;
}

/* Light mode colors. */
:root[data-theme="light"] {
    --backdrop-color: #f6f6f699;
    --sl-color-accent: #00AEEF;
    --sl-color-accent-high: #0083b3;
    --sl-color-accent-low: #78d0f0;
    --sl-color-black: #fff;
    --sl-color-gray-1: #000000;
    --sl-color-gray-2: #383838;
    --sl-color-gray-3: #585858;
    --sl-color-gray-4: #8b8b8b;
    --sl-color-gray-5: #c2c2c2;
    --sl-color-gray-6: #eee;
    --sl-color-gray-7: #f6f6f6;
    --sl-color-white: #000000;
    --list-marker-color: #00AEEF;
}

header {
    backdrop-filter: blur(12px) !important;
    background-color: var(--backdrop-color) !important;
}

select {
    background-image: none;
    box-shadow: none;
}

select:focus-visible {
    outline: -webkit-focus-ring-color auto 1px;
}

article.card {
    border-radius: 0.5rem;
}

.starlight-aside--tip {
    background: linear-gradient(45deg, #EC008C, #ed77be);
    border: none;
    border-radius: 0.5rem;
    color: #66350c;
}

.starlight-aside--note {
    background: linear-gradient(45deg, #00b4db, #2193b0);
    border: none;
    border-radius: 0.5rem;
    color: #004558;
}

.starlight-aside__icon {
    transform: scale(0.8);
}

.starlight-aside--tip .starlight-aside__title {
    color: #4E0F36;
}

.starlight-aside--note .starlight-aside__title {
    color: #bbf3fef7;
}

.sl-markdown-content ul:not(:where(.not-content *)) {
    list-style-type: none;
    padding-left: 0;
}

.sl-markdown-content ul:not(:where(.not-content *)) > li {
    padding-left: 1.75rem;
    position: relative;
}

.sl-markdown-content li:not(:where(.not-content *)) > ul,
.sl-markdown-content li + li:not(:where(.not-content *)) {
    margin-top: 0.625rem;
}

.sl-markdown-content ul:not(:where(.not-content *)) > li:before {
    background: var(--list-marker-color);
    border-radius: 1px;
    content: "";
    height: 2px;
    left: 2px;
    position: absolute;
    top: 13px;
    width: 0.875rem;
}
