---
// Extract the properties from Astro.props
const { title, subTitle } = Astro.props;
// Define TypeScript interface for the properties
interface Props {
  title: string;
  subTitle: string;
}
---

<!-- Container for title and subtitle -->
<dl class="flex flex-col sm:flex-row gap-1">
  <dt class="min-w-40">
    <span class="block text-sm text-gray-500 dark:text-neutral-500">{title}</span>
  </dt>
  <dd>
<ul>

  <li class="me-1 after:content-[','] inline-flex items-center text-sm text-gray-800 dark:text-neutral-200">{subTitle}</li>
</ul>

</dd>
</dl>
