---
const { title, subTitle } = Astro.props;

interface Props {
  title: string;
  subTitle: string;
}
---

<div>
  <p class="text-3xl font-bold text-[#fa5a15] dark:text-[#fb713b]">{title}</p>
  <p class="mt-1 text-neutral-600 dark:text-neutral-400">{subTitle}</p>
</div>
