---
const { title, subTitle } = Astro.props;

interface Props {
  title: string;
  subTitle: string;
}
---
<div class="lg:pe-6 xl:pe-12">
    <p class="text-6xl font-bold leading-10 text-[#fa5a15] dark:text-[#fb713b]">
      {title}
      
    </p>
    <p class="mt-2 sm:mt-3 text-neutral-600 dark:text-neutral-400">{subTitle}</p>
  </div>