---
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import heroImage from "@images/hero-image.avif";
import features from "@data/features.json";
---

<MainLayout>
  <HeroSection
    title=`Recuperare medicală cu <span
        class="text-red-500 dark:text-red-500">Health Academy</span>`
    subTitle="Fie că te-ai accidentat practicând activitatea preferată sau un sport de performanță, te vom ajuta să revii la forma dorită."
    primaryBtn="Află mai multe"
    primaryBtnURL="/services"
    secondaryBtn="Contactează-ne"
    secondaryBtnURL="/contact"
    withReview={false}
    reviews=`From Over <span class="font-bold">12.8k</span> Reviews`
    src={heroImage}
    alt="Athlete after recovering at HealthAcademy"
  />

  <ClientsSection
    title="Încredere din partea atleților și a tuturor celorlalți"
    subTitle="Experience the reliability chosen by industry giants."
  />

  <FeaturesGeneral
    title="De ce sa alegi HealthAcademy?"
    subTitle="Ne gandim la un text fain si il scriem aici, un rezumat a ceea ce suntem"
    features={features}
  />
</MainLayout>
