---
// Import PrimaryCTA component

---

<div class="">
    <div>

        <slot name="default" />
    </div>
      <div id="hs-show-hide-collapse-heading" class="hs-collapse mt-4 hidden w-full overflow-hidden transition-[height] duration-300" aria-labelledby="hs-show-hide-collapse">
          <slot name="collapse"/>
      </div>
      <p class="mt-2">
        <button type="button" class="hs-collapse-toggle inline-flex items-center gap-x-1 text-md font-semibold px-4 rounded-lg border border-transparent text-blue-600 decoration-2 hover:text-blue-700 hover:underline focus:outline-hidden focus:underline focus:text-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:text-blue-500 dark:hover:text-blue-600 dark:focus:text-blue-600" id="hs-show-hide-collapse" aria-expanded="false" aria-controls="hs-show-hide-collapse-heading" data-hs-collapse="#hs-show-hide-collapse-heading">
          <span class="hs-collapse-open:hidden">Read more</span>
          <span class="hs-collapse-open:block hidden">Read less</span>
        </button>
      </p>
</div>
</section>
