---
// Define props from Astro
const { title, subTitle, id} = Astro.props;

// Define TypeScript interface for props
interface Props {
  title: string;
  subTitle?: string;
  id?: string;
}
---

<section
  class="mx-auto max-w-[85rem] px-4 py-10 lg:px-8 lg:py-14 2xl:max-w-full" id"{id}
>
  <!-- Title and description -->
  <div class="mx-auto mb-6 w-full space-y-1 text-center sm:w-1/2 lg:w-2/3">
    <h2
      class="block text-balance text-3xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 sm:text-4xl lg:text-6xl lg:leading-tight"
    >
      {title}
    </h2>
    {
      subTitle && (
        <p class="mt-3 mx-auto text-pretty text-lg text-justify leading-relaxed text-neutral-700 dark:text-neutral-400 lg:w-4/5">
          {subTitle}
        </p>
      )
    }
  </div>
  <div
    class="grid grid-cols-1 md:grid-cols-2 items-start justify-start gap-y-2 md:flex-row sm:gap-x-6 sm:gap-y-0 lg:gap-x-12"
  >
    <div class="mx-auto max-w-prose text-pretty text-lg font-normal text-neutral-600 dark:text-neutral-400">
      <slot name="colLeft" />
    </div>
    <div class="mx-auto max-w-prose text-pretty text-lg font-normal text-neutral-600 dark:text-neutral-400">
      <slot name="colRight" />
    </div>
  </div>
</section>
