---
// Importing View Transitions component
import { ViewTransitions } from "astro:transitions";
import "../styles/starlight.css";
---
<html lang="en">
<head>
    <ViewTransitions />
</head>
<body>
<slot />
</body>
</html>
