---
import logo from "../../images/starlight/screwfast_logo_dark.svg?raw";
import docs from "../../images/starlight/docs_logo.svg?raw";
import type { Props } from "@astrojs/starlight/props";

const main = "/";
const self = "/" + (Astro.props.locale || "en") + "/welcome-to-docs/";
---

<span class="site-title flex">
  <a class="main-logo" href={main} set:html={logo} aria-label="Astro" />
  <a class="docs-logo" href={self} set:html={docs} aria-label="Docs" />
</span>

<style>
  .site-title {
    gap: 1rem;
  }
  .site-title a {
    display: flex;
  }

  .flex {
    display: flex;
    align-items: center;
  }
  .site-title a:focus-visible {
    outline: 0;
  }
  .site-title a:focus-visible > :global(*) {
    outline: auto;
    outline-offset: 0.33rem;
    border-radius: 1px;
  }

  .site-title :global(svg) {
    --display-height: 1.75rem;
    width: auto;
    height: auto;
    transition: transform 0.18s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .site-title a:hover :global(svg) {
    --hover-offset: 0.15rem;
    transform: translateY(calc(.1rem * -1));
    transition: transform 0.3s cubic-bezier(0.33, 1, 0.68, 1);
  }
</style>
